@keyframes fadeIn {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

@keyframes fromLeft {
    from {
        margin-left: -200%;
    }
    to {
        margin: 0;
    }
}

@keyframes fromRight {
    from {
        margin-right: -200%;
    }
    to {
        margin: 0;
    }
}

.fromLeft {
    animation: fromLeft 4s forwards;
}

.fromRight {
    animation: fromRight 4s forwards;
}

@keyframes scale {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

@keyframes textShow {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}

.text_show {
    animation: textShow 2.5s ease alternate forwards;
}