@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "libs/bootstrap-reboot.min";

*, address {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

@import "blocks/header";
@import "blocks/main";
@import "blocks/slider";
@import "blocks/buttons";
@import "blocks/withus";
@import "blocks/tabs";
@import "blocks/advantages";

@import "base/variables";
@import "base/animation";
@import "base/media";
