.access {
    padding: 75px 0;
    text-align: center;
    img {
        margin-bottom: 70px;
    }
    &__descr {
        font-size: 30px;
        line-height: 36px;
        font-weight: 900;
        color: #393939;
        margin-bottom: 26px;
    }
}